@import '@/assets/styles/reset';

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url('@/public/fonts/Poppins-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Poppins;
  font-style: 'medium';
  font-weight: 500;
  src: url('@/public/fonts/Poppinns-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  src: url('@/public/fonts/Poppins-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  src: url('@/public/fonts/Poppins-Bold.woff2') format('woff2');
}

body {
  font-family: Poppins, sans-serif;
}
